.login{
    background: radial-gradient(circle,rgb(41, 102, 200), rgb(41, 102, 158) 500px);
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    form{
        width: 400px;
        padding: 30px;
        background: rgb(255, 255, 255);
        border-radius: 3px;
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3),
        0px 10px 22px rgba(0, 0, 0, 0.2),
        0px 20px 35px rgba(0, 0, 0, 0.2);
        @media #{$bp1}{ width: 95%; }
        svg{
            width: 30%;
            height: 30%;
            top: 3px;
            margin: auto;
            display: block;
            fill: rgb(34,172,240);
        }
        h2{
            color: rgb(34,172,240);
            margin: 20px 0px; 
            margin-right: -10px;
        }
        .row{
            position: relative;
            margin: 15px 0px;
            svg{
                position: absolute;
                width: 17px;
                height: 17px;
                fill: rgb(213,214,216);
            }
            input{
                width: 100%;
                padding: 3px 25px;
                border: none;
                font-size: 1em;
                border-bottom: 1.5px solid rgb(213,214,216);
                outline: none;
                &:focus{
                    & + label{
                        opacity: 0;
                        transition: 0.3s;
                    }
                    & ~ span{
                        transition: 0.3s;
                        width: 100%;
                    }
                    & ~ svg{
                        fill: rgb(34,172,240);
                        transition: 0.3s;
                    }
                }
                &:valid{
                    & + label{
                        opacity: 0;
                        transition: 0.3s;
                    }
                    & ~ svg{
                        fill: rgb(34,172,240);
                        transition: 0.3s;
                    }
                }  
            }
            span{
                position: absolute;
                width: 0%;
                height: 2px;
                background:rgb(34,172,240);
                bottom: 0px;
                right: 0px;
            }
            label{
                position: absolute;
                right: 30px;
                padding: 3px;
                opacity: 1;
                font-size: small;
                color: rgb(213,214,216);
            }
            div{
                position: absolute;
                left: 5px;
                font-size: small;
                color: rgb(34,172,240);
            }
        }
        .remember-me{
            font-size: small;
            margin: 10px 0px;
            display: block;
            color: rgb(10, 52, 73);
            text-align: left;
            cursor: pointer;
            input{
                outline: none;
                position: relative;
                appearance: none;
                border: 1.5px solid rgb(34,172,240);
                width: 12px;
                height: 12px;
                &:checked{
                    // border: 2px solid rgb(34,172,240);

                    &::after{
                        opacity: 1;
                        transition: 0.3s;
                    }
                }
                &::after{
                    opacity: 0;
                    position: absolute;
                    content: '✓';
                    font-weight: 600;
                    font-size: 1.1em;
                    top: -8px;
                }
            }
        }
    }
}