.login{
    form{
        width: 400px;
        height: 400px;
        background-color: rgb(255, 255, 255);
        border: rgb(231, 231, 231) solid 1px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin: 50px auto;
        text-align: left;
        padding: 25px;
        h2{
            color: rgb(33, 67, 179);
            margin-bottom: 20px;
        }
    }
}