.menu{
    position: fixed;
    z-index: 10;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 0px 2px rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    ul{
        list-style: none;
        li{
            background-color: rgb(238, 238, 238);
            border: 1px solid rgb(211, 211, 211);
            border-right: 2px solid red;
            padding: 5px 10px;
        }
    }
}