.form-row{
    position: relative;
    input{
        width: 100%;
        outline: none;
        padding: 4px;
        border: 1px solid rgb(173, 173, 173);
        background-color: rgb(241, 241, 241);
        &:focus + label{
            font-size: 0.8em;
            transform: translateY(-120%);
            font-style: italic;
        }
        &:valid + label{
            font-size: 0.8em;
            transform: translateY(-120%);
            font-style: italic;
        }
    }
    label{
        position: absolute;
        left: 2px;
        transition: 0.5s;
    }
}