.form-row{
    position: relative;
    display: flex;
    img{
        width: 20px;
    }
    input{
        flex-grow: 1;
        width: 100%;
        outline: none;
        padding: 4px 10px;
        border: 0px;
        border-bottom: 1px solid rgb(207, 207, 207);
        background-color: transparent;
        transition: 0.5s;
        &:focus{
            border-bottom: 1px solid rgb(53, 97, 218);
            & ~ label{
                font-size: 0.8em;
                transform: translateY(-120%);
            }
        }
        &:valid{
            border-bottom: 1px solid rgb(53, 97, 218);
            & ~ label{
                font-size: 0.8em;
                transform: translateY(-120%);
            }
        }
    }
    label{
        color: grey;
        position: absolute;
        left: 25px;
        transition: 0.5s;
    }
}
