.fast-search{
    input{
        width: 200px;
    }
    .select{
        position: absolute;
        border: 1px solid red;
        background: white;
        height: 150px;
        width: 200px;
    }
}