header{
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-bottom: rgb(221, 221, 221) solid 1px;
    h1{
        margin-left: 20px;
    }
}

.hamburger{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    cursor: pointer;
    span{
        display: block;
        border-radius: 3px;
        height: 3px;
        width: 90%;
        background-color: rgb(37, 37, 37);
        transition: 0.3s;
    }

    &:hover span:nth-child(1){
        width: 50%;
    }
    &:hover span:nth-child(2){
        width: 75%;
    }
    &:hover span:nth-child(3){
        width: 100%;
    }
}