*{ box-sizing: border-box; padding: 0px; margin: 0px; }
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
<<<<<<< HEAD
    background: rgb(33, 171, 252);
=======
    background: rgb(243, 243, 243);
>>>>>>> login-btn
    min-height: 100vh;
}
.page{
    h1{
        margin: 10px 30px;
        color: rgb(70, 70, 70);
    }
}