$bp-small: "(max-width: 600px)";
$bp-medium: "(min-width: 600px)";

*{ box-sizing: border-box; padding: 0px; margin: 0px; }
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(243, 243, 243);
    min-height: 100vh;
}
.wrapper{
    padding: 0px;
}
.page{
    h2{
        margin: 10px 30px;
        color: rgb(70, 70, 70);
    }
}