* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #21abfc;
  min-height: 100vh;
}

.btn {
  padding: 8px 50px;
  outline: none;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  border: none;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.btn::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(50%, -50%) scale(0);
          transform: translate(50%, -50%) scale(0);
  border-radius: 50%;
  content: '';
  background-color: white;
  padding: 50%;
}

.btn:hover::after {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 0.2;
  -webkit-transition: linear 0.3s transform;
  transition: linear 0.3s transform;
}

.btn:active::after {
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.btn-send {
  background: #03e020;
}

.menu {
  position: absolute;
  z-index: 10;
  width: 250px;
  height: 100vh;
  background-color: rgba(255, 0, 0, 0.178);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eeeeee;
  padding: 5px 10px;
  border-bottom: #cccccc solid 1px;
}

header h1 {
  margin-left: 20px;
}

.hamburger {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}

.hamburger span {
  display: block;
  border-radius: 3px;
  height: 3px;
  width: 90%;
  background-color: #252525;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hamburger:hover span:nth-child(1) {
  width: 50%;
}

.hamburger:hover span:nth-child(2) {
  width: 75%;
}

.hamburger:hover span:nth-child(3) {
  width: 100%;
}

.form-row {
  position: relative;
  margin-bottom: 25px;
}

.form-row .icon {
  width: 15px;
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #cacaca;
}

.form-row input {
  width: 100%;
  outline: none;
  padding: 12px 35px;
  border: none;
  color: #5f5f5f;
  font-size: 1.1em;
  border-radius: 4px;
  background-color: whitesmoke;
  -webkit-box-shadow: 0px 0px 2px #e0e0e0 inset;
          box-shadow: 0px 0px 2px #e0e0e0 inset;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form-row input:focus {
  -webkit-box-shadow: 0px 0px 3px #bebebe inset;
          box-shadow: 0px 0px 3px #bebebe inset;
}

.form-row input:focus ~ label {
  font-size: 0.8em;
  color: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form-row input:focus + .icon {
  fill: #868686;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form-row label {
  font-size: 0.8em;
  letter-spacing: 2px;
  color: grey;
  position: absolute;
  left: 35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.check-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #727272;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.check-box input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: whitesmoke;
  -webkit-box-shadow: 0px 0px 2px #e0e0e0 inset;
          box-shadow: 0px 0px 2px #e0e0e0 inset;
  border: 1px solid #e0e0e0;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  outline: none;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.check-box input::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(25deg);
          transform: translate(-50%, -50%) rotate(25deg);
  width: 5px;
  height: 10px;
  border: 0px;
  border-right: 3px solid #182da1;
  border-bottom: 3px solid #182da1;
  border-radius: 0px 0px 5px 0px;
  opacity: 0;
}

.check-box input:checked::after {
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tbody tr:nth-child(odd) {
  background-color: indianred;
}

table tbody tr:nth-child(even) {
  background-color: lightcoral;
}

.login form {
  width: 400px;
  height: 400px;
  background-color: white;
  border: #e7e7e7 solid 1px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 50px auto;
  text-align: left;
  padding: 25px;
}

.login form h2 {
  color: #2143b3;
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */