* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #6e85ec;
  min-height: 100vh;
}

.btn {
  padding: 8px 50px;
  outline: none;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  border: none;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn-send {
  background: #3bf053 radial-gradient(circle, #3bf053, transparent) no-repeat center;
  background-size: 0;
}

.btn-send:hover {
  background-color: #3bf053;
}

.btn-send:active {
  background: #3bf053 radial-gradient(circle, white, transparent) no-repeat center;
  background-size: 1000%;
  -webkit-transition: background 2s;
  transition: background 2s;
}

.menu {
  position: absolute;
  z-index: 10;
  width: 250px;
  height: 100vh;
  background-color: rgba(255, 0, 0, 0.178);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eeeeee;
  padding: 5px 10px;
  border-bottom: #cccccc solid 1px;
}

header h1 {
  margin-left: 20px;
}

.hamburger {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}

.hamburger span {
  display: block;
  border-radius: 3px;
  height: 3px;
  width: 90%;
  background-color: #252525;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hamburger:hover span:nth-child(1) {
  width: 50%;
}

.hamburger:hover span:nth-child(2) {
  width: 75%;
}

.hamburger:hover span:nth-child(3) {
  width: 100%;
}

.form-row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-row img {
  width: 20px;
}

.form-row input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  outline: none;
  padding: 4px 10px;
  border: 0px;
  border-bottom: 1px solid #cfcfcf;
  background-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form-row input:focus {
  border-bottom: 1px solid #3561da;
}

.form-row input:focus ~ label {
  font-size: 0.8em;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
}

.form-row input:valid {
  border-bottom: 1px solid #3561da;
}

.form-row input:valid ~ label {
  font-size: 0.8em;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
}

.form-row label {
  color: grey;
  position: absolute;
  left: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tbody tr:nth-child(odd) {
  background-color: indianred;
}

table tbody tr:nth-child(even) {
  background-color: lightcoral;
}

.login form {
  width: 400px;
  height: 400px;
  background-color: white;
  border: #cccccc solid 1px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  margin: 50px auto;
  text-align: center;
}

.login form .form-row {
  margin: 25px;
}

.login form h2 {
  color: #266bff;
  margin: 20px;
}

.login form:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}
/*# sourceMappingURL=style.css.map */