.notes{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media #{$bp-small}{
        justify-content: center;
    }

    .note-item{
        border: 1px solid rgb(177, 177, 177);
        background: repeating-linear-gradient(to bottom, rgb(235, 223, 54), rgb(235, 223, 54) 23px, rgb(110, 110, 110) 23px, rgb(177, 177, 177) 24px);
        box-shadow: 0px 0px 2px 1px rgba(155, 155, 155, 0.5);
        line-height: 24px;
        margin-bottom: 20px;
        padding: 4px;
        width: 200px;
        position: relative;

        &:hover > .delete{
            opacity: 1;
            transition: 0.3s;
        }

        .delete{
            position: absolute;
            width: 20px;
            height: 20px;
            font-size: 10px;
            line-height: 20px;
            color: white;
            right: 0px;
            border: 1px solid rgb(102, 8, 8);
            background-color: rgb(128, 7, 7);
            border-radius: 50%;
            transform: translate(40%, -40%);
            text-align: center;
            top:0px;
            box-shadow: 0px 0px 2px 1px rgba(155, 155, 155, 0.5);
            opacity: 0;
            cursor: pointer;
        }
    }
}