@mixin input {
    padding: 5px;
    margin-top: 5px;
    font-size: large;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    box-shadow: inset 0px 0px 3px rgba(128, 128, 128, 0.521);
}