table{
    width: 100%;
    border-collapse: collapse;

    tbody{
        tr:nth-child(odd){
            background-color: indianred;
        }
        tr:nth-child(even){
            background-color: lightcoral;
        }
    }
}