header .icon{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 4px;
    // background-color: rgb(238, 238, 238);
    margin: 0px 5px;
    cursor: pointer;
    &:hover{
        box-shadow: 0px 0px 2px rgb(235, 235, 235) inset;
        background-color: rgb(240, 240, 240);

    }
}
.login .icon{
    width: 30%;
    height: 30%;
    fill: rgb(12, 7, 95);
}